div.calculadora {
	display: table;
	padding: 1em;
	background-color: #606060;
	margin: 0 auto;
	border-radius: 15px;
}
div.botones, div.controles {
	display: table-cell;
}
div.pantallas {
	text-align: left;
}
body {
	text-align: center;
}
input.pantalla {
	font-size: 1.2em;
	width: auto;
	height: 2em;
	margin: auto;
}
#modo {
	text-align: center;
	width: 95%;
	font-size: 1.5em;
}
#pantalla1, #pantalla2, #pantalla3, #resultado {
	text-align: center;
	width: 55%;
}
input[type=button] {
	font-weight: bold;
	font-size: 1em;
	width: 4em;
	text-align: center;
	padding: 0.4em 1em;
	margin: 0.3em;
}
label {
	text-align: center;
	display: inline-block;
	font-size: 1.5em;
	width: 40%;
}